<div>
    <div>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" placeholder="************">
    </div>
    <p>Le mot de passe défini lors de la création de l’annonce est nécessaire pour enregistrer vos modifications. Sans ce mot de passe, celles-ci ne seront pas appliquées.</p>
</div>