<div class="form-div">
    <div class="form-field">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" placeholder="************" required maxlength="50">
        <% if (errors?.password?.errors?.[0]) { %>
            <small id="password-error" class="error-msg">
            <%= errors.password.errors[0] %>
            </small>
        <% } %>
    </div>
    <p class="password-text">Le mot de passe défini lors de la création de l’annonce est nécessaire pour enregistrer vos modifications. Sans ce mot de passe, celles-ci ne seront pas appliquées.</p>
</div>