<%- include('../partials/head', {title:'Modifier une annonce'}) %>
<%- include('../partials/header') %>

<main class="content-page">
  <h2>La page que vous cherchez n'existe pas</h2>
</main>

<%- include('../partials/footer') %>
