<%- include('../partials/head', {title:''}) %>
<%- include('../partials/header') %>

<main class="home-page">
  <section class="hero-banner">
    <div class="hero-banner-content">
      <div class="hero-banner-main-content">
        <h2 class="hero-banner-title">
          Trouvez la mission qui vous correspond.
        </h2>
        <div class="hero-banner-text">
          <p>
            Découvrez des annonces claires, accessibles et adaptées à vos
            talents.
          </p>
          <p>Publiez, éditez ou supprimez vos offres en toute simplicité.</p>
        </div>
      </div>
      <a href="/jobs" class="btn btn-secondary">Découvrez les offres</a>
    </div>
  </section>
  <section class="full-page">
    <h2>Les dernières annonces</h2>
    <ul class="job-cards-section">
      <% for(let i = 0; i < 3; i++) { %>
        <% if(!jobOffers[i]) { break; } %>
        <li class="job-card-item">
          <%- include('../partials/jobCard', { job: jobOffers[i], id: jobOffers[i].id }) %>
        </li>
      <% } %>
    </ul>
    <div class="btn-browse">
      <a href="/jobs" class="btn btn-primary">Consulter toutes les annonces</a>
    </div>
  </section>
</main>

<%- include('../partials/footer') %>
